<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1 ">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="test/css/page.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="div-header">
    <div class="div-left">
        <div class="div-img">
            <img src="img/banner-r.png" class="banner" >
        </div>
        <div class="div-text">
            <div class="block">
                <p class="number">333</p>
                <p class="text">浏览</p>
            </div>
            <div class="block">
                <p class="number">6163</p>
                <p class="text">照片</p>
            </div>
        </div>
    </div>
    <div class="div-right">
        <div class="div-text">
            <p class="name">2018 微软家庭日</p>
            <p class="sit">北京微软大厦</p>
            <p class="time">2018.6.8</p>
        </div>
        <div class="link">
            <img src="img/share.png" class="img">
        </div>
    </div>

    <div class="div-bottom">
        <div class="pic">
            <img src="img/pp.png" class="bottom-button">
        </div>
        <div class="pic">
            <img src="img/lb.png" class="bottom-button">
        </div>
        <div class="pic">
            <img src="img/lb.png" class="bottom-button">
        </div>
    </div>
</div>
<div class="div-body">
    <div class="div-picture">
            <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
    <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>
    <div class="div-picture">
        <img src="test/images/_MG_1201.jpg" class="body-img">
    </div>




</div>
<footer class="footer">
    <div class="footer-div">
        <img src="img/topage.png" class="img">
    </div>
    <div class="footer-div">
        <img src="img/top.png" class="img">
    </div>
    <div class="footer-div">
        <img src="img/refresh.png" class="img">
    </div>
    <div class="footer-div">
        <img src="img/contact.png" class="img">
    </div>
</footer>
<script>
    var a=window.innerWidth/16+"px";
    document.documentElement.style.fontSize=a;
</script>
</body>

</html>