<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>ZomoVphoto</title>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="test/css/htmleaf-demo.css"/>
	<link rel="stylesheet" href="test/css/baguetteBox.min.css"/>
	<link rel="stylesheet" href="test/css/fluid-gallery.css"/>
</head>
<body >
<div class="htmleaf-container">
	<div class="container gallery-container">
		<div class="tz-gallery">

			<div class="row">
				<div class="col-sm-12 col-md-12	col-xs-12 banner" >
					<img src="test/images/banner.jpg" class="img-responsive	center-block banner"/>
					<div class="col-sm-12 col-md-12 col-xs-12" style="padding-top:10px;padding-bottom:10px;;padding-left:0px">
						<span  style="font-size:15px;margin-left:6px;pxfont-family:PingFangSC-Regular" >2018 MSRA Family Fest（6月11日）</span>
						<br/>
						<span style="font-size:15px;margin-left:6px;font-family:PingFangSC-Regular">共140张照片</span>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="htmleaf-container">
	<div class="container gallery-container" margin-left="0px" >
		<div class="tz-gallery">

			<div class="row">
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>
				<div class="col-sm-3 col-md-3 col-xs-4">
					<a class="lightbox"	href="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An.jpg">
						<img src="http://image.zomo-studio.com/FgAH7Z2hJ6sGmyOun2DyBqliZ0An?imageView2/1/w/300/h/200" alt="park"/>
					</a>
				</div>




			</div>

		</div>

	</div>
</div>
</div>

<script	type="text/javascript" src="test/js/baguetteBox.min.js"></script>
<script	type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>